<p>server works!</p>
<div class="row">
    <div class="col-md-12">
        <label>ServerName</label>
        <input type="text" name="servername" ngModel="servername" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label>ServerContent</label>
        <input type="text" name="servercontent" ngModel="servercontent" class="form-control">

    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-2">
        <button class="btn btn-default" (click)="addDefaultServer()">AddDefaultServer</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" (click)="addBluePrinttServer()">AddBluePrintServer</button>
    </div>
</div>


