<div class="row mt-5">
    <div class="col-md-12">
        <span><h4>Recipe Name</h4></span>
    </div>
</div>
<div class="row">
        <div class="col-md-12">
            <button class="btn btn-warning dropdown-toggle">Manage <span calss="caret"></span></button>
            <div class="dropdown-menu">
                <a href="#" class="link-text">To Shopping</a>
                <a href="#" class="link-text">Edit Recipe</a>
                <a href="#" class="link-text">Delete Recipe</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="clearfix">Description</span>
            <span class="clearfix">Ingredients</span>

        </div>
    </div>