<div class="row mt-5">
    <div class="col-md-6">
      
        <!-- <img [src]="itemEl.image" class="imgSize"  height="200px" (mouseover)="zoom()" *ngIf="imgFlag"> -->
        
        <span>
            <ngx-image-zoom  
            [thumbImage]=itemEl.image
            [fullImage]=itemEl.image
            [magnification]="2"
            >
            </ngx-image-zoom>
        </span>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-12">
        <span><h4>{{itemEl.name}}</h4></span>
    </div>
</div>
<div class="row">
        <div class="col-md-12">
               
            <div class="btn-group" appDropdown>
                <button type="button" class="btn btn-warning dropdown-toggle"  >Manage Recipe <span class="caret"></span></button>
               
                    <ul   class="dropdown-menu text-center">
                        <li appBackgroundcolor><a href="#" appBackgroundcolor>To Shopping List</a></li>
                        <li appBackgroundcolor><a href="#" appBackgroundcolor>Edit Recipe</a></li>
                        <li appBackgroundcolor><a href="#" appBackgroundcolor>Delete Recipe</a></li>
                    </ul>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="clearfix">Description</span>
            <span class="clearfix">Ingredients</span>

        </div>
    </div>

  