
<nav class="navbar navbar-expand-md bg-light navbar-light text-white" >
  <a routerLinkActive="active" routerLink="/recipe" class="navbar-brand">Juice-Maker's</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarNavDropdown">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavDropdown " class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive='active'>
       <a class="nav-link"  routerLink = "/recipe">Recipe</a>
      </li>
      <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink = "/shopping">ShoppingList</a>
        </li>
    </ul>
    <ul class="navbar-nav navbar-right ">
      <li class="nav-item dropdown" appDropdown>
        <a class="nav-link dropdown-toggle" style="cursor: pointer;" >Manage</a>
        <ul   class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink" >
    
            <li class="dropdown-item" appBackgroundcolor ><a  appBackgroundcolor>Save Recipe</a></li>
            <li class="dropdown-item" appBackgroundcolor ><a  appBackgroundcolor>Fetch Recipe</a></li>
          </ul>
      </li>
    </ul>
   
  </div>
  
</nav>
